.cuadro_empleado{
    margin-top: 6rem;
    background-color: $verde;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 2fr;

    .empleado_izquierda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .foto-empleado{
            height: 60%;
            width: 60%;
            border-bottom: solid 1.5rem $beige;
            margin: 3rem 0;
        }

        .botones-empleado{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 3rem;
        }

    }

    .datos_empleado{
        h4{
            text-align: center;
            margin: 0;
        }
    }

    .contacto_empleado{
        h4{
            text-align: center;
            margin: 0;
        }
    }
}