.header{
    background-color: $verde_oscuro;
    @include desktop{
        height: 8rem;
    }
    height: 6.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo{
        flex: 1;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            .img_logo{
                width: 15%;
            }
        }
    }

    .navegacion{
        flex: 1;
        display: flex;
        gap: 4rem;
        a{
            color: $blanco;
            &:hover{
                color: $beige;
            }
        }
    }
}